.about-me-section {
    display: flex;
    flex-direction: column;
    margin: 50px 0 80px 0;
    align-items: center;
}
.about-me {
    display: flex;
    max-width: 1300px;
    align-items: center;
}

.img-container {
    flex: 1;
    text-align: center;
}

.text-container {
    flex: 2;
    margin: 0 30px;
}

.about-me-img {
    height: auto;
    width: 285px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(53, 0, 0);
}

.about-me-text {
    margin: auto, 0, auto, 0;
    text-align: justify;
    font-size: 20px;
}

.h-title {
    font-family: 'Sansita Swashed', cursive;
    margin-top: 40px;
    margin-bottom: 30px;
}

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.hobby-imgs {
    display: flex;
    flex-wrap: wrap;
}

.himg {
    width: 200px;
    height: auto;
    margin: 20px 40px 20px 40px;
}

.h-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-text {
    font-family: 'Sansita Swashed', cursive;
    font-size: 20px;
}

@media only screen and (max-width: 680px) {
    .about-me {
        flex-direction: column;
    }
    .hobby-imgs {
        flex-direction: column;
    }
    .about-me-text {
        margin-top: 50px;
    }
    .h-img {
        margin-top: 30px;
    }
    .h-title {
        margin-bottom: 0;
        margin-top: 0;
    }
    .h-text {
        font-size: 25px;
    }
}

@media (max-width:1200px) and (min-width:680px) {
    .hobby-imgs  {
        max-width: 600px;
    }
}