.intro {
    margin-left: 10%;
    padding-top: 10%;
}

.main-name {
    font-size: 60px;
    font-weight: bold;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;;
    padding: 0;
    font-size: 60px;
}

.hello {
    margin: 0;
    padding: 0;
    font-size: 28px;
}

.list {
    margin: 0;
    padding: 0;
    font-size: 35px;
    min-height: 180px;
}

.txt-rotate {
    color: rgba(143, 0, 0, 0.911);
    font-weight: bold;
    font-size: 40px;
    font-family: 'Sansita Swashed', cursive;
}

.cv {
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    background-color: #b9b5b5;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 2px 5px 5px rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

.cv:hover {
    transform: scale(0.9);
}

@media only screen and (max-width: 680px) {
    .hello {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .cv {
        margin-top: 10px;
    }
    .intro {
        margin-right: 10%;
    }
    .main-name {
        font-size: 55px;
    }
}