.intro {
    margin-left: 10%;
    margin-top: 10%;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;;
    padding: 0;
    font-size: 60px;
}

.hello {
    margin: 0;
    padding: 0;
    font-size: 28px;
}

.list {
    margin: 0;
    padding: 0;
    font-size: 35px;
}

.txt-rotate {
    color: rgba(143, 0, 0, 0.911);
    font-weight: bold;
    font-size: 40px;
}

.cv {
    margin-top: 60px;
    padding: 10px;
    width: 200px;
    background-color: #b9b5b5;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 2px 5px rgba(0, 0, 0, 0.911);
    border-radius: 5px;
    cursor: pointer;
}

.cv:hover {
    padding: 8px;
    width: 180px;
}
