#mainNavbar {
    color: black;
    background: transparent;
}

#mainNavbar.scrolled {
    background-color: #000;
    color: white;
    opacity: 0.8;
}

.navbar.scrolled {
    transition: background 500ms;
}

#navLinks {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

.nav-item:hover {
    color: rgba(219, 0, 0, 0.911);
}

.nav-item .active {
    color: rgba(219, 0, 0, 0.911);
}