#mainNavbar {
    color: black;
    background: transparent;
}

#navLinks.collapse.navbar-collapse {
    display: none;
    text-align: center;
}

#navLinks.collapse.navbar-collapse.show {
    display: block;
    background-color: #000;
    opacity: 0.8;
    color:white;
}

#mainNavbar.show {
    background-color: #000;
    opacity: 0.8;
}

#mainNavbar.scrolled {
    background-color: #000;
    color: white;
    opacity: 0.8;
}

#mainNavbar.navbar {
    justify-content: flex-end;
}

.navbar.scrolled {
    transition: background 500ms;
}

#navLinks {
    display: flex;
    justify-content: flex-end;
}

.navbar-toggler {
    outline: none !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler-icon.scrolled {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar.show .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-item {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

.nav-item:hover {
    color: rgba(219, 0, 0, 0.911);
}

.nav-item .active {
    color: rgba(219, 0, 0, 0.911);
}

