.header {
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}

span {
    color: rgb(226, 0, 0);
}

.short-desc {
    margin-top: 0%;
    font-weight: bold;
    font-size: 20px;
}

.title {
    margin-bottom: 0%;
    font-size: 35px;
    margin-top: 0;
    padding-top: 30px;
}