.techskills-section {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 80px 0;
}

.tsHead {
    color: white;
}

.logotext {
    color: white;
    text-align: center;
    font-size: 20px;
}

.tech-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    align-items: center;
    margin-top: 70px;
}

.icons {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 100px;
    height: 100px;
}

@media (max-width:900px) and (min-width:680px) {
    .icons {
        width: 33%;
    }
}

@media only screen and (max-width: 680px) {
    .about-me {
        flex-direction: column;
    }

    .icons {
        width: 50%;
    }
}


    