.todo-section {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}

.img-todo-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.todo-img {
    max-width: 65%;
    height: auto;
    box-shadow: 10px 10px 10px rgb(53, 0, 0);
    border: 3px solid rgb(0, 0, 0);
}

.descr-todo-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.title-todo {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #4682b4;
    font-size: 30px;
    margin: 20px 0 20px 0;
}

.desc-todo {
    max-width: 85%;
    text-align: justify;
    padding: 5%;
    background-image: url(./img/download.jpg);
    background-size: cover;
    color: white;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(53, 0, 0);
    margin-left: 25px;
    height: 100%;
}

.todo-btns {
    margin-top: 50px;
}

.todo-btn {
    width: 120px;
    height: 35px;
    background-color: #4682b4;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border: black;
}

.todo-btn1 {
    width: 120px;
    height: 35px;
    color: #4682b4;
    font-weight: bold;
    font-size: 15px;
    border: black;
}

.todo-btn:hover {
    background-color: grey;
    color: white;
}

.todo-btn1:hover {
    background-color: grey;
    color: white;
}

.img-todo-section {
    position: relative;
    width: 50%;
  }
  
.todo-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.todo-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.todo-img:hover {
    opacity: 0.8;   
}

.todo-middle-btn:hover {
    background-color: grey;
    color: white;
}

.todo-middle:hover {
    opacity: 0.8;
}

.todo-img:hover ~ .todo-middle {
    opacity: 1;
}

.todo-middle-btn {
    background-color: #4682b4;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-weight: bold;
    font-size: 15px;
    border: 3px solid rgb(0, 0, 0);
}

@media only screen and (max-width: 1100px) {
    .todo-section {
        flex-direction: column-reverse;
    }
    .img-todo-section {
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 30px;
        width: 100%;
    }
    .desc-todo {
        max-width: 90%;
        margin: auto;
        box-shadow: 5px 5px 5px rgb(53, 0, 0);
    }
    .todo-img {
    max-width: 90%;
    margin-bottom: 18px;
    box-shadow: 5px 5px 5px rgb(53, 0, 0);
    }
    .todo-info {
        margin-top: 30px;
    }
}