.todo-section {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}

.img-todo-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.todo-img {
    max-width: 65%;
    height: auto;
    box-shadow: 2px 5px rgba(70, 1, 1, 0.911);
}

.descr-todo-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.desc-todo {
    max-width: 75%;
    text-align: justify;
    padding: 5%;
    background-color: rgb(56, 56, 56);
    color: white;
    border: 3px solid rgb(32, 13, 13);
    box-shadow: 2px 5px rgba(70, 1, 1, 0.911);
    border-radius: 5px;
    height: 100%;
}

.todo-info {
    padding-bottom: 30px;
    margin-top: 30px;
}

.todo-btn {
    margin-top: 50px;
}

@media only screen and (max-width: 680px) {
    .todo-section {
        flex-direction: column-reverse;
    }
    .img-todo-section {
        justify-content: center;
        margin-bottom: 10px;
    }
    .desc-todo {
        max-width: 80%;
        margin: auto;
    }
    .todo-img {
        max-width: 90%;
    }
}